<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>ControlePeso</title>
 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

<header>
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cadastro de Controle de Peso</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/cadastrarEvento"  class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar IMC</a></li>
      </ul>
    </div>
  </nav>
</header>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>